.button {
	z-index: 99;
	width: 40px;
	height: 40px;
	position: fixed;
	bottom: 20px;
	right: 50px;
	background: $black2;
	cursor: pointer;
	border-radius: 50%;
	.img {
		filter: invert(1);
		width: 20px;
	}
}
.button:hover {
	background: $black1;
}

@media (max-width: 768px) {
	.button {
		right: 20px;
	}
}
