.grid {
  display: grid;
  grid-gap: 24px 24px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 91px;

  img {
    object-fit: cover;
  }

  div {
    width: 100%;
  }
}

@media (min-width: 320px) {
  .grid {
    // &__firstCell {
    //   div {
    //     padding: 21px;
    //     max-height: 200px;
    //   }
    // }

    // &__secondCell {
    //   li {
    //     display: flex;
    //     flex-direction: row-reverse;
    //     min-height: 145px;
    //     padding: 10px;

    //     h3 {
    //       font-size: 10px;
    //       line-height: 11px;
    //     }

    //     p {
    //       font-size: 8px;
    //       line-height: 9px;
    //     }

    //     img {
    //       width: 100px;
    //       height: 100px;
    //       object-fit: cover;
    //       border-radius: inherit;
    //     }
    //   }
    // }

    // &__restCell {
    //   li {
    //     display: flex;
    //     flex-direction: row-reverse;
    //     height: unset;
    //     max-height: 145px;
    //     padding: 10px;

    //     h3 {
    //       font-size: 10px;
    //       line-height: 11px;
    //     }

    //     p {
    //       font-size: 8px;
    //       line-height: 9px;
    //     }

    //     img {
    //       width: 100px;
    //       height: 100px;
    //       object-fit: cover;
    //       border-radius: inherit;
    //     }
    //   }
    // }
  }
}

@media (min-width: 768px) {
  .grid {

    &__firstCell {
      grid-row: span 4;
    }

    &__secondCell {
      grid-row: span 4;
    }

    &__restCell {
      grid-row: span 2;

      li {
        display: flex;
        flex-direction: row-reverse;

        div {
          padding: 15px;
        }

        h3 {
          font-size: 10px;
          line-height: 11px;
        }

        p {
          height: 60px;
          font-size: 8px;
          line-height: 9px;
        }

        img {
          max-width: 148px;
        }
      }
    }
  }
}

@media (min-width: 1190px) {
  .grid {
    &__firstCell {
      grid-row: span 4;
       img {
        max-height: 206px;
       }
    }

    &__secondCell {
      grid-row: span 2;

      li {
        display: flex;
        flex-direction: row-reverse;
      }

      img {
        max-width: 148px;
      }
    }

    &__restCell {
      grid-row: span 1;

      img {
        max-width: 146px;
      }

      li {
        display: flex;
        flex-direction: row-reverse;
      }

      p {
        display: none;
      }

      div {
        padding-top: 16px;
        padding-bottom: 16px;
      }
    }
  }
}

@media (min-width: 2000px) {
  .grid {
    &__firstCell {
      grid-column-start: 1;
      grid-row-start: 1;
      grid-row-end: 6;

    h3 {
      font-size: 20px;
      line-height: 16px;
    }

    img {
      max-height: 206px;
    }

    p {
      font-size: 14px;
      line-height: 15px;
    }

    span {
      font-size: 12px;
    }
    }

    &__secondCell {
      grid-row: span 2;

      li {
        display: flex;
        flex-direction: row-reverse;
      }

      img {
        max-width: 127px;
      }

      // div {
      //   width: 100%;
      // }
    }

    &__restCell {

      li {
        display: flex;
        flex-direction: row-reverse;
      }

      img {
        max-width: 130px;
        // height: 69px;
      }

      div {
        padding: 15px;
      }

      p {
        display: none;
      }
    }
  }
}

