.grid {
  display: grid;

  p {
    // overflow: scroll;
  }

  div {
    filter: grayscale(1);
    transition: 1s;

    &:hover {
      filter: grayscale(0);
    }
  }
}

@media (min-width: 320px) {
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 16px;

    &__firstCell {

      div {
        padding: 21px;
      }
    }

    &__secondCell {

      li {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        padding: 20px;

        div {
          padding: 0;
          margin-right: 20px;
        }

        h3 {
          font-size: 10px;
          line-height: 11px;
        }

        p {
          display: none;
        }

        img {
          width: 40%;
        }
      }
    }

    &__restCell {
      li {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        height: unset;
        padding: 20px;

        div {
          padding: 0;
          margin-right: 15px;
        }

        h3 {
          display: none;
        }

        p {
          font-size: 8px;
          line-height: 9px;
        }

        img {
          width: 40%;
          object-fit: cover;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .grid {
    grid-auto-rows: 45px;  
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px 20px;

    img {
      border-radius: 17px;
    }

    &__firstCell {

      grid-row: span 6;

      div {
        padding: 20px;
      }
    }

    &__secondCell {

      grid-column-start: 2;
      grid-row-start: 1;
      grid-row-end: 4;

      li {
        padding: 0;

        p {
          display: block;
        }

        h3 {
          font-size: 14px;
          line-height: 16px;
        }

        div {
          padding: 20px;
          margin: 0;
        }
  
        img {
          width: auto;
          max-width: 40%;
        }
      }
    }

    &__thirdCell {

      grid-column-start: 2;
      grid-row-start: 4;
      grid-row-end: 7;

      li {
        display: flex;
        flex-direction: row-reverse;

        div {
          padding: 20px;
        }
  
        p {
          display: none;
        }
  
        img {
          max-width: 30%;
        }
      }
    }

    &__restCell {
      grid-row: span 2;

      li {
        padding: 0;
        height: 100%;

        div {
          padding: 15px;
          margin: 0;
        }

        h3 {
          display: block;
          font-size: 10px;
          line-height: 11px;
        }

        p {
          display: none;
        }

        img {
          max-width: 30%;
        }
      }
    }
  }
}

@media (min-width: 1190px) {

  .grid {
    grid-auto-rows: 91px;
    grid-gap: 24px 24px;

    &__firstCell {
      grid-row: span 4;

      img {
        max-height: 206px;
      }
    }

    &__secondCell {

      grid-row: span 4;
      grid-column-start: unset;

      li {
        flex-direction: column;
        justify-content: space-between;

        img {
          width: 100%;
          max-width: unset;
          max-height: 250px;
        }
  
        h3 {
          display: none;
        }
      }
    }

    &__thirdCell {
      grid-row: span 2;
      grid-column-start: unset;

      li {
        display: flex;
        flex-direction: row-reverse;

        img {
          max-width: 45%;
        }
  
        h3 {
          font-size: 10px;
        }
  
        p {
          display: block;
          font-size: 8px;
        }
      }
    }

    &__restCell {
      grid-row: span 1;

      li {
        display: flex;
        flex-direction: row-reverse;

        img {
          max-width: 45%;
        }

        p {
          display: none;
        }
  
        div {
          padding-top: 16px;
          padding-bottom: 16px;
        }
  
        h3 {
          margin-bottom: 5px;
        }
      }
    }
  }
}

@media (min-width: 2000px) {

  .grid {

    &__firstCell {
      grid-column-start: 1;
      grid-row-start: 1;
      grid-row-end: 6;


      h3 {
        font-size: 20px;
        line-height: 16px;
      }

      p {
        font-size: 14px;
        line-height: 15px;
      }

      span {
        font-size: 12px;
      }
    }

    &__secondCell {

      grid-row: span 2;

      li {
        display: flex;
        flex-direction: row-reverse;

        img {
          max-width: 40%;
        }
      }
    }

    &__restCell {

      li {
        display: flex;
        flex-direction: row-reverse;

        img {
          max-width: 30%;
        }
  
        div {
          padding: 15px;
        }
  
        p {
          display: none;
        }
      }
    }
  }
}


