.grid {
  display: grid;
}
.grid p {
  overflow: scroll;
}
.grid div {
  filter: grayscale(1);
  transition: 1s;
}
.grid div:hover {
  filter: grayscale(0);
}

@media (min-width: 320px) {
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 16px;
  }
  .grid__firstCell div {
    padding: 21px;
  }
  .grid__secondCell li {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    padding: 20px;
  }
  .grid__secondCell li div {
    padding: 0;
    margin-right: 20px;
  }
  .grid__secondCell li h3 {
    font-size: 10px;
    line-height: 11px;
  }
  .grid__secondCell li p {
    display: none;
  }
  .grid__secondCell li img {
    width: 40%;
  }
  .grid__restCell li {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    height: unset;
    padding: 20px;
  }
  .grid__restCell li div {
    padding: 0;
    margin-right: 15px;
  }
  .grid__restCell li h3 {
    display: none;
  }
  .grid__restCell li p {
    font-size: 8px;
    line-height: 9px;
  }
  .grid__restCell li img {
    width: 40%;
    object-fit: cover;
  }
}
@media (min-width: 768px) {
  .grid {
    grid-auto-rows: 45px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px 20px;
  }
  .grid img {
    border-radius: 17px;
  }
  .grid__firstCell {
    grid-row: span 6;
  }
  .grid__firstCell div {
    padding: 20px;
  }
  .grid__secondCell {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 4;
  }
  .grid__secondCell li {
    padding: 0;
  }
  .grid__secondCell li p {
    display: block;
  }
  .grid__secondCell li h3 {
    font-size: 14px;
    line-height: 16px;
  }
  .grid__secondCell li div {
    padding: 20px;
    margin: 0;
  }
  .grid__secondCell li img {
    width: auto;
    max-width: 40%;
  }
  .grid__thirdCell {
    grid-column-start: 2;
    grid-row-start: 4;
    grid-row-end: 7;
  }
  .grid__thirdCell li {
    display: flex;
    flex-direction: row-reverse;
  }
  .grid__thirdCell li div {
    padding: 20px;
  }
  .grid__thirdCell li p {
    display: none;
  }
  .grid__thirdCell li img {
    max-width: 30%;
  }
  .grid__restCell {
    grid-row: span 2;
  }
  .grid__restCell li {
    padding: 0;
    height: 100%;
  }
  .grid__restCell li div {
    padding: 15px;
    margin: 0;
  }
  .grid__restCell li h3 {
    display: block;
    font-size: 10px;
    line-height: 11px;
  }
  .grid__restCell li p {
    display: none;
  }
  .grid__restCell li img {
    max-width: 30%;
  }
}
@media (min-width: 1190px) {
  .grid {
    grid-auto-rows: 91px;
    grid-gap: 24px 24px;
  }
  .grid__firstCell {
    grid-row: span 4;
  }
  .grid__firstCell img {
    max-height: 206px;
  }
  .grid__secondCell {
    grid-row: span 4;
    grid-column-start: unset;
  }
  .grid__secondCell li {
    flex-direction: column;
    justify-content: space-between;
  }
  .grid__secondCell li img {
    width: 100%;
    max-width: unset;
    max-height: 250px;
  }
  .grid__secondCell li h3 {
    display: none;
  }
  .grid__thirdCell {
    grid-row: span 2;
    grid-column-start: unset;
  }
  .grid__thirdCell li {
    display: flex;
    flex-direction: row-reverse;
  }
  .grid__thirdCell li img {
    max-width: 45%;
  }
  .grid__thirdCell li h3 {
    font-size: 10px;
  }
  .grid__thirdCell li p {
    display: block;
    font-size: 8px;
  }
  .grid__restCell {
    grid-row: span 1;
  }
  .grid__restCell li {
    display: flex;
    flex-direction: row-reverse;
  }
  .grid__restCell li img {
    max-width: 45%;
  }
  .grid__restCell li p {
    display: none;
  }
  .grid__restCell li div {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .grid__restCell li h3 {
    margin-bottom: 5px;
  }
}
@media (min-width: 2000px) {
  .grid__firstCell {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 6;
  }
  .grid__firstCell h3 {
    font-size: 20px;
    line-height: 16px;
  }
  .grid__firstCell p {
    font-size: 14px;
    line-height: 15px;
  }
  .grid__firstCell span {
    font-size: 12px;
  }
  .grid__secondCell {
    grid-row: span 2;
  }
  .grid__secondCell li {
    display: flex;
    flex-direction: row-reverse;
  }
  .grid__secondCell li img {
    max-width: 40%;
  }
  .grid__restCell li {
    display: flex;
    flex-direction: row-reverse;
  }
  .grid__restCell li img {
    max-width: 30%;
  }
  .grid__restCell li div {
    padding: 15px;
  }
  .grid__restCell li p {
    display: none;
  }
}

/*# sourceMappingURL=puzzle.module.css.map */
