.app {
  &_wrapper {
    padding: 64px;
    border-radius: 20px;
    background-color: $color-grey;
  }

  &__top {
    display: flex;
    margin-bottom: 64px;
  }

  &__descr {
    margin-right: 74px;
    max-width: 60%;
  }

  &__text {
    margin-bottom: 64px;
  }

  &__link {
    display: flex;
    align-items: center;
    width: 11rem;
    border-radius: 35px;
    padding: 18px 38px;
    background-color: $color-total_black;
  }

  &__appStore_link {
    margin-right: 16px;
  }
  
  &__appStore_text, .app__googleStore-text {
    margin-left: 10px;
    @include font_24_1;
  }

  &__bottomCards {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
  }

  &__bottomCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 240px;
    padding: 20px 5px;
    border-radius: 35px;
    background-color: $color-white;
    @include font_14_1;
    transition: 0.4s ease-in-out;

    &:not(:last-child) {
      margin-right: 37px;
    }

    &_text {
      margin-top: 8px;
      color: $color-total_black;
    }

    &:hover {
      background-color: $color-salad;

      path {
        fill: $color-white;
      }

      p {
        color: $color-white;
      }
    }
  }
}

.card__svg {
  width: 102px;
  height: 68px;
}

@media(max-width: 1190px) {
  .app {
    &__descr {
      margin-right: 38px;
    }

    &__text {
      margin-bottom: 55px;
    }

    &__link {
      padding: 13px 28px;
      width: 7rem;
    }

    &__appStore_link {
      margin-right: 8px;
    }

    &__appStore_text, .app__googleStore-text {
      margin-left: 6px;
      @include font_18_1;
    }

    &__img_bg {
      width: 40%;
    }
    
    &__bottomCard {
      width: 180px;
      padding: 20px 5px;
      border-radius: 25px;

      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }

  .card__svg {
    width: 68px;
    height: 44px;
  }
}

@media(max-width: 768px) {
  .app {
    &_wrapper {
      padding: 24px 24px 32px;
      display: grid;
    }

    &__top {
      flex-direction: column;
      margin-bottom: 32px;
    }

    &__descr {
      margin: 0 0 37px 0;
      max-width: 100%;
    }
    
    &__link-wrap {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 15px;
    }

    &__link {
      padding: 6px 13px;
      max-width: 8rem;
    }

    &__appStore_link {
      margin-right: 0;
    }

    &__appStore_text, .app__googleStore-text {
      margin-left: 6px;
      @include font_14_1;
    }

    &__img_bg {
      width: unset;
      margin: 0 auto;
    }

    &__bottomCards {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      width: 100%;
      gap: 8px;
    }

    &__bottomCard {
      width: 100%;
      padding: 17px 5px;
      border-radius: 15px;

      &:not(:last-child) {
        margin-right: 0;
      }

      &_text {
        margin-top: 12px;
      }
    }
  }

  .card__svg {
    width: 42px;
    height: 27px;
  }
}