.app_wrapper {
  padding: 64px;
  border-radius: 20px;
  background-color: #333333;
}

.app {
  &__title {
    margin-bottom: 32px;
  }

  &__descr {
    margin-right: 74px;
  }
  
  &__text {
    margin-bottom: 64px;
  }

  &__top {
    margin-bottom: 64px;
  }

  &__link {
    display: inline-block;
    border-radius: 35px;
    padding: 18px 38px;
    background-color: #000000;
  }

  &__appStore_link {
    margin-right: 16px;
  }

  &__bottomCards {
    justify-content: center;
    margin: 0 auto;
  }

  &__bottomCard {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 240px;
    padding: 20px 48px;
    border-radius: 35px;
    background-color: #fff;
    font-size: 14px;
    font-weight: 700;

    &:not(:last-child) {
      margin-right: 37px;
    }

    p {
      color: #000000;
    }

    svg {
      margin-bottom: 15px;
    }

    &:hover {
      background-color: #60AD5E;

      path {
        fill: #fff;
      }

      p {
        color: #fff;
      }
    }
  }
}


@media (max-width: 1500px) {
  .app {

    img {
      min-width: 600px;
      max-height: 400px;
    }

    &__title {
      font-size: 30px;
    }

    &__bottomCard {

      svg {
        margin-bottom: 10px;
      }

      font-size: 14px;
    }
  }
}

@media (max-width: 1200px) {
  .app {
    &__bottomCard {

      padding: 10px 35px;
      border-radius: 25px;

      svg {
        width: 50%;
        height: 50%;
        margin-bottom: 5px;
      }
    }
  }
}

@media(max-width: 1000px) {
  .app_wrapper {
    padding: 54px;
    text-align: center;
  }

  .app {
    &__top {
      flex-direction: column;
      align-items: center;

      img {
        max-width: 55%;
      }
    }

    &__descr {
      margin: 0;

      div {
        justify-content: center;
        margin-bottom: 32px;
      }
    }

    &__title {
      margin-bottom: 24px;
    }

    &__bottomCards {
      flex-wrap: wrap;
      max-width: 88%;
      align-items: center;
    }      
      
    &__bottomCard {
      &:not(:last-child) {
        margin: 0;
      }

      &:nth-child(1) {
        margin-bottom: 8px;
      }

      &:nth-child(2) {
        margin-bottom: 8px;
      }

      &:nth-child(2n - 1) {
        margin-right: 8px;
      }

    }
  }
}

@media(max-width: 768px) {
  .app_wrapper {
    padding: 24px;
  }

  .app {

    &__top {
      img {
        max-width: 80%;
      }

      margin-bottom: 37px;
    }

    &__title {
      font-size: 18px;
      line-height: 18px;
      margin-bottom: 16px;
    }

    &__text {
      font-size: 12px;
      line-height: 12px;
      margin-bottom: 32px;
    }

    &__link {
      padding: 12px 18px;

      img {
        max-width: 100%;
      }
    }

    &__bottomCard {
      max-width: 33%;
      padding: 17px;
      border-radius: 15px;
      font-size: 8px;
    }
  }
}