.app_wrapper {
  padding: 64px;
  border-radius: 20px;
  background-color: #333333;
}

.app {
  &__title {
    margin-bottom: 32px;
  }

  &__descr {
    margin-right: 74px;
  }
  
  &__text {
    margin-bottom: 64px;
  }

  &__top {
    margin-bottom: 64px;
  }

  &__link {
    display: inline-block;
    border-radius: 35px;
    padding: 18px 38px;
    background-color: #000000;
  }

  &__appStore_link {
    margin-right: 16px;
  }

  &__bottomCards {
    justify-content: space-between;
  }

  &__bottomCard {
    flex-direction: column;
    align-items: center;
    padding: 20px 48px;
    border-radius: 35px;
    background-color: #fff;

    p {
      color: #000000;
    }

    &:hover {
      background-color: #60AD5E;

      path {
        fill: #fff;
      }

      p {
        color: #fff;
      }
    }
  }
}
