@import '../../../scss/var';

.container {
  display: flex;
  position: relative;
  border: 4px solid $color-salad;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: transform 250ms ease-in, border-color 250ms ease-in;
}

.hover:hover {
  border-color: $color-green;
}

.image {
  display: block;
  border-radius: 16px;
  object-fit: cover;
}

.link {
  position: absolute;
  display: inline-block;
  inset: 0;
  color: transparent;
}

.textContent {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  display: -webkit-box;
  -webkit-line-clamp: 2; // количество строк
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.text {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  margin-bottom: auto;

  display: -webkit-box;
  -webkit-line-clamp: 7; // количество строк
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.date {
  font-weight: 400;
  font-size: 8px;
  color: $color-salad;
}

.bigCard {
  &.container {
    flex-direction: column;
  }

  .image {
    width: 100%; 
    height: 206px; 
  }

  .textContent {
    padding: 24px 30px;
  }
}

.smallCard {
  .container {
    flex-direction: row-reverse; 
    justify-content: space-between; 
  }

  .image {
    width: 37%;
    height: 100%; 
  }

  .textContent {
    width: 53%; 
    padding: 20px; 
  }

  .title {
    // word-break:break-all; 
  }
}

@media (max-width: 1190px) {

  .bigCard {
    .image {
      height: 183px;
    }

    .textContent {
      padding: 21px 28px;
    }
  }

  .smallCard {
    .textContent {
      padding: 17px;
    }
  }
}

@media (max-width: 768px) {
  .image {
    height: 137px;
  }

  .text {
    -webkit-line-clamp: 4; // количество строк
  }

  .bigCard {
    .title {
      margin-bottom: 10px;
    }

    .textContent {
      padding: 16px 24px;
    }
  }

  .smallCard {
    .title {
      margin-bottom: 10px;
    }

    .textContent {
      padding: 10px; 
    }
  }
}
