.agreementText {
  color: $color-black;
}

.agreement-title {
  text-align: center;
  @include font_36;
  color: $color-black;
}

.subtitle {
  @include font_24;
  color: $color-black;
}

.text{
  @include font_14;
  color: $color-black;
}

@media (max-width: 1190px) {
  .agreement-title {
    //font-size: 38px;
  }

  .subtitle {
    //font-size: 24px;
  }

  .text{
    @include font_10;
  }
}

@media (max-width: 768px) {
  .agreement-title {
    //font-size: 18px;
  }

  .subtitle {
    //font-size: 14px;
  }

  .text{
    @include font_10;
  }
}