.card {
  width: auto;
  height: 100%;
  border: 4px solid $color-salad;
  border-radius: 20px;
  background: $color-black;
  box-sizing: border-box;
  transition: .3s linear;

  &:hover {
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
  }

  &__img {
    width: 100%;
    border-radius: inherit;
  }

  &__text_block {
    padding: 25px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    margin-bottom: 20px;
    font-style: normal;
    @include font_14_1;

    color: #fff;
  }

  &__paragraph {
    height: 90px;
    @include font_10;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
  }

  &__data {
    @include font_8;
    color: $color-salad;
  }

}

@media (max-width: 768px) {
  .card {
    border: 3px solid $color-salad;
  }
}