@import '../../../scss/mixins';
@import '../../../scss/var';

.card {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 100%;
  border: 3px solid $color-salad;
  border-radius: 20px;
  box-sizing: border-box;
  transition: .3s linear;

  &:hover {
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
  }

  &__img {
    width: 100%;
    object-fit: cover;
    border-radius: inherit;
    z-index: -1;
  }

  &__text_block {
    padding: 25px 30px;
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  &__title {
    margin-bottom: 20px;
    font-style: normal;
    @include font_14_1;

    color: #fff;
  }

  &__paragraph {
    @include font_10;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
  }

  &__data {
    margin-top: auto;
    @include font_8;
    color: $color-salad;
  }

}

@media (max-width: 768px) {
  .card {
    border: 2px solid $color-salad;
  }
}