// burger 
.burg__menu {
  display: none;
  position: relative;
  width: 20px;
  height: 17px;
  align-items: center;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    width: 20px;
    height: 3px;
    border-radius: 3px;
    background-color: #fff;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 20px;
    height: 3px;
    border-radius: 3px;
    background-color: #fff;
  }

  span {
    position: absolute;
    width: 20px;
    height: 3px;
    border-radius: 3px;
    top: 7px;
    background-color: #fff;
  }
}

/* header */
.header {
  z-index: 100;
  position: fixed;
  width: 100%;
  padding: 20px 130px;
  background-color: #333333;
}

.header__rigth-block {
  display: flex;
  align-items: center;
}

.header__logo {
  height: 60px;
}

/* menu */
.header__nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.header__nav__item:not(:last-child) {
  margin-right: 75px;
}

.header__adaptive {
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__lang__link:not(:last-child) {
  margin-right: 10px;
}

.header__nav__link {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 3px;
    background-image: radial-gradient(50% 50% at 50% 50%, #60AD5E 46.35%, #005005 89.58%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  } 

  &:hover::after {
    opacity: 1;
  }
}

// media
@media(max-width: 1600px) {
  .header {
    padding: 25px 30px;
  }

  .header__nav__item:not(:last-child) {
    margin-right: 20px;
  }

  .header__logo {
    height: 50px;
  }
}

@media(max-width: 1024px) {
  .burg__menu {
    display: flex;
  }

  .header__nav {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #333333;
    flex-direction: column;
    width: 100%;
    height: 88px;
    display: flex;
    align-items: center;
    padding-top: 30px;
    transform: translateX(1200px) translateY(105px);
    transition: transform 0.6s ease-in-out;

    &.active {
      transform: translateX(0) translateY(105px);
    }
  }

  .header__lang {
    margin-right: 20px;
  }

  .burger--active {
    span {
      opacity: 0;
    }

    &.burg__menu:before {
      left: 25%;
      top: 50%;
      transform: rotate(45deg);
      transform-origin: center;
      transition: transform 0.2s ease-in-out, top 0.2s ease-in-out, left 0.2s ease-in-out;
    }

    &.burg__menu:after {
      bottom: auto;
      left: 25%;
      top: 50%;
      transform: rotate(-45deg);
      transform-origin: center;
      transition: transform 0.2s ease-in-out, top 0.2s ease-in-out, left 0.2s ease-in-out;
    }  
  }
  
  .header__nav__link {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -3px;
      width: 100%;
      height: 3px;
      background-image: radial-gradient(50% 50% at 50% 50%, #60AD5E 46.35%, #005005 89.58%);
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    } 

    &:active::after {
      opacity: 1;
    }
  }
}

@media(max-width: 700px) {

  .header__lang {
    font-size: 15px;
  }

  .header__nav__list {
    display: block;
    text-align: center;
    font-size: 18px;
  }

  .header__nav {
    height: 100vh;
    padding-top: 60px;
  }

  .header__nav__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 60px;
  }
}