/* header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 130px;
  background-color: #333333;
  color: #fff;
}
 
/* logo */
.header__logo {
  height: 70%;
}

/* menu */
.header__nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.header__nav__item:not(:last-child) {
  margin-right: 75px;
}

/* language */
.header__lang__link:not(:last-child) {
  margin-right: 23px;
}