.header__lang-link {
  font-weight: 700;
  cursor: pointer;
  color: $color-white;
  opacity: 0.5;
  transition: opacity .3s ease-in-out;

  &:not(:last-child) {
    margin-right: 23px;
  }
}

.header__lang-link.active {
  opacity: 1;
}

.header__lang-link:hover {
  opacity: 1;
}

@media (max-width: 1500px) {
  .header__lang {
    @include font_14_1;
  }
}

@media (max-width: 1024px) {
  .header__lang {
    margin-right: 60px;
  }
}

@media (max-width: 768px) {
  .header__lang-mobile {
    display: flex;
    justify-content: center;
  }

  .header__lang {
    @include font_18_1;
    margin-right: 0;
  }

  .header__lang-link:not(:last-child) {
    margin-right: 10px;
  }
}
