.statistics {
  padding: 316px 0 258px;

  &__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__img {
    width: 77px;
    height: 77px;
  }

  &__description {
    margin-left: 28px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  &__title {
    margin-bottom: 16px;
    @include font_42;
    color: $color-white;
  }

  &__text {
    @include font_18;
    color: $color-white;
  }
}

@media (max-width: 1190px) {
  .statistics {
    padding: 256px 0;

    &__img {
      width: 65px;
      height: 65px;
    }

    &__description {
      margin-left: 24px;
    }

    &__title {
      margin-bottom: 16px;
      @include font_36;
    }

    &__text {
      @include font_14_1;
    }
  }
}

@media (max-width: 768px) {
  .statistics {
    padding: 89px 0 81px;

    &__list {
      flex-direction: column;
    }

    &__item {
      &:not(:last-child) {
        margin-bottom: 64px;
      }
    }

    &__img {
      width: 45px;
      height: 45px;
    }

    &__description {
      margin-left: 16px;
    }

    &__title {
      margin-bottom: 8px;
      @include font_24;
    }

    &__text {
      @include font_12;
    }
  }
}
