.agreement {
  &__inp {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  &__link {
    @include font_14;
    color: $color-white;

    &:hover {
      cursor: pointer;
    }
  }
}

.agreement__check .agreement__link {
  display: inline-flex;
  align-items: center;
  padding: 10px 0 10px 40px;
  background: url(../../../assets/images/feedback/checkMarkOff.svg) no-repeat left center;
}

.agreement__check .agreement__inp:checked ~ .agreement__link {
  background: url(../../../assets/images/feedback/checkMarkOn.svg) no-repeat left center;
}