@import '../../scss/var';

.img {
  display: block;
  margin-bottom: 40px;
  height: 320px;
  background-color: $color-salad;
}

.title {
  margin-bottom: 20px;
  text-align: center;
  color: $color-salad;
}

.text {
  margin-bottom: 20px;
  text-align: justify;
  font-size: 16px;
}

.data {
  text-align: end;
  font-size: 14px;
}

