.swiper-parallax {
  // height: calc(100vh - 120px);

  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 60px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;

    img {
      max-width: 55%;
    }
  }

  .parallax-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 130%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
  }

  .parallax-title {
    margin-bottom: 32px;
  }

  .swiper-slide .subtitle {
    font-size: 21px;
    margin-bottom: 32px;
  }

  .swiper-slide .text {
    color: #fff;
    font-size: 14px;
    line-height: 1.3;
  }
}

.hero__descr {
  flex-direction: column;
}