.swiper-parallax {
  height: 100vh; // как лучше?
  justify-content: space-between;

  .swiper {
    width: 100%;
    height: 100%;
  }

  .svg path {
    stroke: 10px;
    animation: glowing 1100ms infinite;
  }
  @keyframes glowing {
    0% {
      stroke: #005005;
      // box-shadow: 0 0 3px #0091b2;
    }
    50% {
      stroke: #398837;
      // box-shadow: 0 0 15px #21c7ed;
    }
    100% {
      stroke: #60AD5E;
      // box-shadow: 0 0 3px #0091b2;
    }
  }

  .swiper-slide {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 55px 40px 0 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    img {
      max-width: 55%;
      animation: glowing 1300ms infinite;
    }
  }

  .parallax-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 130%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
  }
}

.swiper-horizontal > .swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal {
  width: 100%;
  left: 0;
  bottom: 0px;
  height: 4px;
  background: #005005;
  border-radius: 0;
}

.swiper-scrollbar-drag {
  background: #60AD5E;
  border-radius: 0;
}

.hero__descr {
  flex-direction: column;
  max-width: 70%;
  margin-right: 30px;
}

.hero__text {
  color: #fff;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
}

.hero__title {
  margin-bottom: 32px;
}

@media(max-width: 1500px) {
  .hero__text {
    font-size: 18px;
  }
}

@media(max-width: 768px) {
  .hero__descr {
    min-width: 88%;
    flex-direction: column;
    margin: 0;
    margin-bottom: 24px;
  }

  .swiper-parallax .swiper-slide {
    flex-direction: column;
    padding: 0;

    img {
      max-width: 100%;
      max-height: 270px;
    }
  }

  .hero__title {
    font-size: 24px;
  }

  .hero__text {
    font-size: 14px;
  }
}