@media (max-width: 1190px) {
  .container {
    max-width: calc(1190px - 32px * 2);
    padding: 0 20px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: calc(768px - 26px * 2);
    padding: 0 10px;
  }
}
