:root {
  /* Font Color */
  --light-theme: #f8f9fa;
  --black-theme: $color-black;

  /* Circle Width */
  --circle-diameter: 400px;
}
/* Basic Setting */
html,
body {
  scroll-behavior: smooth;
}

.map {
  &__main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    min-height: 640px;
    background-color: var(--black-theme);
  }
  /* Content Style */
  &__yandex {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--circle-diameter);
    height: var(--circle-diameter);
    overflow: hidden;
    border-radius: var(--circle-diameter);
    background-color: inherit;
    transition: 1500ms;
    cursor: grab;
    /* Interactive Effect */
    &:hover {
      width: 100%;
      height: 800px;
      border-radius:20px;
    }
  }

  & .map-frame {
    width: 100vw;
    height: calc(100vh - 100px);
    background-color: var(--light-theme);
  }

  & iframe {
    position: relative;
    width: 100vw;
    height: 100vh;
    pointer-events: visibleStroke;
  }
}

::selection {
  color: $color-white;
  background-color: var(--light-theme);
}

.map {
  
  &__title {
    margin-bottom: 16px;
    align-self: flex-start;
    font-style: normal;
    color: $color-white;
  }

  &-frame {
  }
}

.station {
  width: 100%;
  margin: 32px 0;
  border-radius: 20px;
  padding: 46px 62px 32px;
  background: $color-white;

  &__top {
    display: flex;
    align-items: center;
    margin-bottom: 22px;
  }

  &__title_wrap {
    display: flex;
    align-items: center;
    margin-right: 30px;
  }

  &__title_top{
    display: contents;
    @include font_36;
    color: $color-black;

    &:before {
      content: url("../../assets/images/map/station.svg");
      margin-right: 32px;

    }
  }

  &__count {
    margin-left: 15px;
    @include font_36;
    color: $color-salad;
  }

  &__description {
    max-width:376px;
    @include font_18;
    color: $color-black;
  }

  &__bottom {

  }

  &__title_bottom {
    text-align: center;
    @include font_12_1;
    color: $color-black;
    margin-bottom: 20px;
  }

  &__types_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 32px;
  }
}

.type {
  display: flex;
  align-items: center;
  padding: 13px 0 13px 16px;
  background: $color-salad;
  border-radius: 15px;

  &__img {
    margin-right: 18px;
  }

  &__description_wrap {
    width: 232px;
    display: flex;
    flex-direction: column;
  }

  &__title{
    margin-bottom:5px;
    @include font_10_1;
    color: $color-white;
  }

  &__characteristics {
    @include font_8;
    color: $color-white;
  }

  &__price {
    @include font_8;
    color: $color-white;
  }
}

@media (max-width: 1190px) {

  .type {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}

@media (max-width: 768px) {
  .map {

    &__yandex {
      width: 250px;
      height: 250px;
      overflow: hidden;
      border-radius: 250px;
      background-color: inherit;
      transition: 1500ms;
      cursor: grab;

      &:hover {
      }
    }
  }

  .station {
    margin: 19px 0;
    padding: 24px;

    &__top {
      flex-direction: column;
    }

    &__title_top{
      display: contents;
      @include font_24;

      &:before {
        content: url("../../assets/images/map/station.svg");
        margin-right: 32px;

      }
    }

    &__count {
      margin-left: 15px;
      @include font_36;
      color: $color-salad;
    }

    &__description {
      max-width:376px;
      @include font_18;
      color: $color-black;
    }

    &__bottom {
    }

    &__title_bottom {
      text-align: center;
      @include font_12_1;
      color: $color-black;
      margin-bottom: 20px;
    }

    &__types_wrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      column-gap: 32px;
    }
  }

  .type {
    width: 100%;
    border-radius: 7px;

    &:not(:last-child) {
      margin-bottom: 16px;
    }

    &__img {
      margin-right: 15px;
    }
  }
}
