@import "./Station/Station";

:root {
  /* Font Color */
  --light-theme: #f8f9fa;
  --black-theme: $color-black;

  /* Circle Width */
  --circle-diameter: 400px;
}
/* Basic Setting */
html,
body {
  scroll-behavior: smooth;
}

.map {
  padding: 0 0 32px 0;

  &__main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    min-height: 640px;
    background-color: var(--black-theme);
  }

  &__title {
    align-self: flex-start;
    color: $color-white;
  }

  /* Content Style */
  &__google {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--circle-diameter);
    height: var(--circle-diameter);
    overflow: hidden;
    border-radius: var(--circle-diameter);
    background-color: inherit;
    transition: 1500ms;
    cursor: grab;
    /* Interactive Effect */
    &:hover {
      width: 100%;
      height: 800px;
      border-radius:20px;
    }
  }

  & .map-frame {
    width: 97vw;
    height: 89vh;
    background-color: var(--light-theme);

    & > iframe {
      position: relative;
      width: 100vw;
      height: 100vh;
      pointer-events: visibleStroke;
    }
  }
}

::selection {
  color: $color-white;
  background-color: var(--light-theme);
}

@media (max-width: 1190px) {
  .map {

    & .map-frame {
      width: 93vw;
      height: 89vh;
    }
  }
}

@media (max-width: 768px) {
  .map {

    &__google {
      width: 250px;
      height: 250px;
      overflow: hidden;
      border-radius: 250px;
      background-color: inherit;
      transition: 1500ms;
      cursor: grab;

      &:hover {
        height: 80%;
      }
    }

    & .map-frame {
      width: 89vw;
      height: 83vh;
    }
  }
}
