.map {
  margin: 130px 0 0 0;

  &__title {
    margin-bottom: 16px;
    align-self: flex-start;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    color: #fff;
  }

  &__subtitle {
    margin: 0 0 10px 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #fff;
  }

  &__lable {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #fff
  }

  &-frame {
  }
}

@media (max-width: 1190px) {
  .map {margin: 60px 0 0 0;

    &__title {
      margin-bottom: 16px;
      font-size: 38px;

    }

    &__lable {
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      color: #fff;
    }
  }
}

@media (max-width: 768px) {
  .map {
    margin: 30px 0 0 0;

    &__title {
      font-size: 18px;
    }
  }
}
