.successMessage {
  margin-top: 10px;

  &_show{
    display: block;
  }

  &__block {
    @include font_14;
  }

  &__block_green{
    font-weight: 600;
    color: $color-salad;
  }

  &__block_red {
    color: $color-red;
  }

  &__btn {}
}